<h1>Gideon</h1>
<h3>Race: Human Class: Warlock 8</h3>
<h5>created by: Isaac</h5>
<div className="separator"></div>

<div className="statBlock">
    <h4>STR</h4>
    <span>
        <div>
            13
        </div>
        <label>+1</label>
    </span>
</div>
<div className="statBlock">
    <h4>DEX</h4>
    <span>
        <div>
            20
        </div>
        <label>+5</label>
    </span>
</div>
<div className="statBlock">
    <h4>CON</h4>
    <span>
        <div>
            16
        </div>
        <label>+3</label>
    </span>
</div>
<div className="statBlock">
    <h4>INT</h4>
    <span>
        <div>
            13
        </div>
        <label>+1</label>
    </span>
</div>
<div className="statBlock">
    <h4>WIS</h4>
    <span>
        <div>
            14
        </div>
        <label>+2</label>
    </span>
</div>
<div className="statBlock">
    <h4>CHA</h4>
    <span>
        <div>
            20
        </div>
        <label>+5</label>
    </span>
</div>

